providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/lookfiresu/Desktop/code/Interacive_python"
          source: "/home/lookfiresu/Desktop/code/Interacive_python/.build-tools.cson"
          name: "list_task"
          command: "python list_task.py"
          wd: "."
          env: {}
          modifier: {}
          stdout:
            pty: false
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "hc"
            profile: "python"
          output:
            console:
              close_success: false
              queue_in_buffer: true
              stdin: false
            linter:
              no_trace: false
          version: 1
        }
      ]
  }
]
